<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
<!--    <script src="/script.js"></script>-->
</head>
<body class="text-center bg-light">
<div class="container">
    <div class="col-5 mx-auto">
        <div class="py-5 text-center">
            <form method="post" class="form-signin mx-5" th:action="@{/login}">
                <img class="d-block mx-auto mb-4"
                     src="https://i.pinimg.com/originals/41/00/09/4100098c8af8b04589771aa58935f4c8.png" alt=""
                     width="72"
                     height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid email or password.</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-danger">You have been logged out</div>
                </div>
                <div th:if="${message}">
                    <div class="alert alert-danger" th:text="${message}"></div>
                </div>
                <label for="inputEmail" class="sr-only">Email address</label>
                <!--    <div class="col-sm-8">-->
                <input type="email" id="inputEmail" name="email" class="my-2 form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="my-2 form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <br/>
                <div class="etc-login-form">
                    <p>Don't have an acc? <a href="/registration">Register here</a></p>
                </div>
                <p class="mt-5 mb-3 text-muted">&copy; 2019-2021</p>
            </form>
        </div>
    </div>
</div>

</body>
</html>