<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/script.js"></script>

</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <div class="col-5 mx-auto">
            <div th:if="${userExist}">
                <div class="alert alert-danger">User already exists!</div>
            </div>
            <div th:if="${message}">
                <div class="alert alert-danger" th:text="${message}"></div>
            </div>
            <form th:action="@{/registration}" class="needs-validation" novalidate="" method="post">
                <img class="d-block mx-auto mb-4"
                     src="https://i.pinimg.com/originals/41/00/09/4100098c8af8b04589771aa58935f4c8.png" alt=""
                     width="72"
                     height="72">
                <div class="d-flex justify-content-center row">

                    <h1 class="h3 font-weight-normal">Registration</h1>
                    <button type="button" class="btn btn-light btn-circle btn-sm" data-toggle="modal" data-target="#exampleModalLong">?</button>

                    <!--            MODAL-->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="center">
                                        <div class="row">
                                            <h1 class="display-4">BrainStorm</h1>
                                            <img class="d-block ml-2"
                                                 src="https://i.pinimg.com/originals/41/00/09/4100098c8af8b04589771aa58935f4c8.png" alt="" width="72"
                                                 height="72">
                                        </div>
                                    </div>
<!--                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="lead">This is a simple app for testing your knowledge. 5 questions - 5git  points maximum. Win as many
                                        points as possible to get the first position of rating list. Good luck and have fun!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username"
                           name="username" required=""/>
                    <div class="valid-feedback">Valid.</div>
                     <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address" name="email"
                           minlength="5" required=""/>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"
                           name="password" required=""/>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <!--                    <label for="email">Password</label>-->
                    <input type="password" class="form-control" placeholder="Confirm password"
                           name="confirmPassword" required=""/>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember" required=""/> I agree on
                        blabla.
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Check this checkbox to continue.</div>
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                <br/>
                <div class="etc-login-form">
                    <p>Already have an account? <a href="/login">Login here</a></p>
                </div>
                <p class="mt-5 mb-3 text-muted">&copy 2019-2021</p>
            </form>

        </div>

    </div>
</div>
</body>
</html>