<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/components/common :: header(value='Statistics')}"></div>
<div th:replace="~{/components/common :: navbar(game=false)}"></div>
<body class="bg-light">
<div class="container">
    <div class="d-flex flex-row my-3 mx-3">
        <h3 class="h5 mr-3 font-weight-normal">Order by:</h3>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a href="/statistics/avg" class="btn btn-outline-secondary">Avg score</a>
            <a href="/statistics/tg" class="btn btn-outline-secondary">Total game</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Average score</th>
            <th scope="col">Total game</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user, iter : ${users}">
                <td th:text="${iter.index} + 1"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${avgScore.get(__${iter.index}__)}"></td>
                <td th:text="${totalGames.get(__${iter.index}__)}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>